<!DOCTYPE html>
<html>
<head>
  <title>Dropz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
<link rel="stylesheet" href="http://www.dropzonejs.com/css/dropzone.css?v=1423494334" />
<link rel="stylesheet" href="http://www.dropzonejs.com/css/style.css?v=1423494334"/>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css" rel="stylesheet">
</head>

<body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<!-- <style>

#dropzone { margin-bottom: 3rem; }

.dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; }
.dropzone .dz-message { font-weight: 400; }
.dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }

</style> -->
<%= yield %>

</body>
</html>
